{% extends 'base.html.twig' %}

{% block title %}Hello Usuário!
{% endblock %}

{% block header %}
	Listagem de usuário
{% endblock %}
{% block content %}
	{% set header = {
	'id':'id',
	'Username':'username',
	'Email':'email',
	'nome Completo':'fullName'
	 } %}

<div class="float-right">
<a class=" hover:bg-slate-400 font-mono border-2 border-solid border-gray-500 rounded-lg" href="{{path('app_usuario_create')}}">Cadastrar</a>
</div>

	{% include "components/table.html.twig" with {
		thead: header,
		contents : users
	}
%}
{% endblock %}
