

<table class=" w-full">
	<thead>

		<tr class=" bg-gray-300" >
			{% for header in thead %}
				<th  scope="col" class="px-6 py-3 text-center">{{header}}</th>
			{% endfor %}
            <th scope="col">Ações</th>
		</tr>
	</thead>

	<tbody class=" w-full">
		{% for content in contents %}
   
			<tr class="hover:bg-gray-500">
				{% for key in thead %}
					<td class="text-center">
						{{content[key]}}</td>
				{% endfor %}
                <td class="text-center"> <a href="{{path('app_usuario_show', {id:content['id']})}}">Editar</a>/<a href="{{path('app_usuario_delete', {id:content['id']})}}">Deletar</a></td>
			</tr>

		{% endfor %}

	</tbody>
</table>
