<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="bg-gray-100">
		<div class="flex h-screen">


			<div
				class="flex-1 flex flex-col">
				<!-- Header -->
				<header class="bg-white shadow p-4">
					<h1 class="text-lg font-bold">
						{% block header %}Bem Vindo
						{% endblock %}
					</h1>
				</header>

				<!-- Content -->
				<main class="p-6 flex-1 text-center">
					<div class="bg-slate-400">
                        {% if error %}
                            <p>{{error.message}}</p>
                        {% endif %}
						<h2 class="font-bold text-lg">LOGIN</h2>
						{% block form %}
							<form action="{{ path('app_auth_login') }}" method="POST">
								<input class="hover:bg-gray-200 border-2 border-solid border-gray-400" name="_username" type="text" placeholder="Email de Usuário" required>
								<br>
								<br>
								<input class="hover:bg-gray-200 border-2 border-solid border-gray-400" type="password" name="_password" placeholder="Senha de Usuário" required>
								<br>
								<br>
								<input class="bg-gray-300 hover:bg-gray-500 border-2 border-solid border-gray-600 rounded-lg" type="submit" value="Entrar">
							</form>
						{% endblock %}

						<h3>Não possui login?
							<a class="hover:text-blue-900" href="{{path('app_usuario_resgister')}}">Faça seu cadastro!</a>
						</h3>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>
